<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/bd7b2915a7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/cart.css}">

    <title>Quản lý giỏ hàng</title>
</head>
<body>
<div class="container">

    <div class="header-form">
        <div class="item-header">
            <a th:href="@{/home}">
                <i class="fa-solid fa-house"></i>
                <p>Trang chủ</p>
            </a>
        </div>
    </div>

    <div class="info-cart">
        <table border="1">
            <tr>
                <th colspan="6">THÔNG TIN GIỎ HÀNG</th>
            </tr>
            <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Ngày thêm vào giỏ hàng</th>
                <th>Cập nhật giỏ hàng</th>
            </tr>
            <th:block th:each="item, iterStat : ${cartDetailList}">
                <tr>
                    <td th:text="${iterStat.index + 1}"></td>
                    <td th:text="${item.product.name}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${#numbers.formatDecimal(item.price.stripTrailingZeros().toPlainString(), 0, 0) + ' VNĐ'}"></td>
                    <td th:text="${item.getFormattedCreatedAt()}"></td>
                    <td class="btn">
                        <a th:href="@{/cart/add(idProduct=${item.product.id})}">
                            <button><i class="fa-solid fa-cart-arrow-down"></i></button>
                        </a>
                        <a th:href="@{/cart/delete(id=${item.id})}"
                           th:onclick="|return confirm('Bạn có chắc chắn muốn xóa sản phẩm này khỏi giỏ hàng không?')|">
                            <button><i class="fa-solid fa-trash"></i></button>
                        </a>
                    </td>
                </tr>
            </th:block>
            <tr>
                <th colspan="6" class="thbtn">
                    <a th:href="@{/order/add}">ĐẶT HÀNG</a>
                </th>
            </tr>
        </table>
    </div>

    <div th:if="${errorMessage != null}" class="error-message">
        <p th:text="${errorMessage}"></p>
    </div>
</div>
</body>
</html>
