<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/bd7b2915a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/customer.css}">
    <link rel="stylesheet" th:href="@{/css/topFrame.css}">
    <link rel="stylesheet" th:href="@{/css/leftFrame.css}">
    <title>Thông tin khách hàng</title>
</head>
<body>
<div class="container">
    <div th:include="~{/fragments/leftFrame :: leftFrame}"></div>
    <div class="main-info">
        <div th:include="~{/fragments/topFrame :: topFrame}"></div>

        <div class="search">
            <div class="sort-area">
                <!-- Sorting area, if needed -->
            </div>

            <div class="search-input">
                <form th:action="@{/home/list}" th:object="${customers}" method="get">
                    <div class="icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="input">
                        <input type="text" id="name" name="name" placeholder="Tìm kiếm"
                               th:value="${param.name}"
                               oninput="this.form.submit()">
                    </div>
                </form>
            </div>
        </div>

        <div class="info-product">
            <table border="1">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã khách hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Ngày sinh</th>
                    <th>Giới tính</th>
                    <th>Địa chỉ</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <!-- Error message if present -->
                <div th:if="${errorMessage}" class="error-message">
                    <p th:text="${errorMessage}"></p>
                </div>

                <tr th:each="item, iterStat : ${customers}">
                    <td class="small" th:text="${iterStat.index + 1}"></td>
                    <td class="medium" th:text="${item.id}"></td>
                    <td class="medium" th:text="${item.name}"></td>
                    <td class="medium" th:text="${item.birth}"></td>
                    <td class="medium" th:text="${item.gender}"></td>
                    <td class="large" th:text="${item.address}"></td>
                    <td class="medium" th:text="${item.phone}"></td>
                    <td class="large" th:text="${item.email}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
