<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Cập nhật đường dẫn CSS -->
    <link rel="stylesheet" th:href="@{/css/addBrandCategory.css}">
    <link rel="stylesheet" th:href="@{/css/header-form.css}">

    <script src="https://kit.fontawesome.com/bd7b2915a7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div th:include="~{/fragments/headerForm :: headerForm}"></div>

    <div class="form">
        <!-- Hiển thị thông báo lỗi nếu có -->
        <div th:if="${errorMessage != null}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>

        <!-- Form để thêm loại sản phẩm và thương hiệu -->
        <form th:action="@{/brand_category/add}" method="post">
            <table border="1">
                <tr>
                    <th colspan="2">THÊM MỚI LOẠI SẢN PHẨM - THƯƠNG HIỆU</th>
                </tr>
                <tr>
                    <td class="info">
                        <i class="fa-solid fa-box-archive"></i>
                        <label for="idCategory">Loại sản phẩm</label>
                    </td>
                    <td>
                        <select id="idCategory" name="idCategory">
                            <!-- Duyệt qua danh sách các loại sản phẩm -->
                            <option th:each="item : ${categoryList}" th:value="${item.id}" th:text="${item.name}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="info">
                        <i class="fa-solid fa-box-archive"></i>
                        <label for="idBrand">Thương hiệu</label>
                    </td>
                    <td>
                        <select id="idBrand" name="idBrand">
                            <!-- Duyệt qua danh sách các thương hiệu -->
                            <option th:each="item : ${brandList}" th:value="${item.id}" th:text="${item.name}"></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="tdbtn">
                        <a href=""><button>Thêm mới</button></a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>