<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/addForm.css}">
    <link rel="stylesheet" th:href="@{/css/header-form.css}">
    <script src="https://kit.fontawesome.com/bd7b2915a7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <title>Sửa thông tin tài khoản</title>
</head>
<body>
<div class="container">
    <div th:include="~{/fragments/headerForm :: headerForm}"></div>
    <div class="form">
        <div th:if="${errorMessage != null}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>
        <div class="form">
            <form th:action="@{/staff_account/edit_account}" th:object="${staffAccount}" method="post">
                <table border="1">
                    <tr>
                        <th colspan="2">SỬA THÔNG TIN CÁ NHÂN</th>
                    </tr>
                    <tr>
                        <td class="info">
                            <i class="fa-solid fa-id-card"></i>
                            <label for="id">Mã tài khoản</label>
                        </td>
                        <td><input type="text" name="id" id="id" th:field="*{id}" readonly></td>
                    </tr>
                    <tr>
                        <td class="info">
                            <i class="fa-solid fa-circle-user"></i>
                            <label for="username">Tên tài khoản</label>
                        </td>
                        <td><input type="text" name="username" id="username" th:field="*{username}"></td>
                    </tr>
                    <tr>
                        <td class="info">
                            <i class="fa-solid fa-lock"></i>
                            <label for="password">Mật khẩu</label>
                        </td>
                        <td><input type="text" name="password" id="password" th:field="*{password}"></td>
                    </tr>
                    <tr>
                        <td class="info">
                            <i class="fa-solid fa-house-circle-check"></i>
                            <label for="idRole">Chức năng</label>
                        </td>
                        <td><input type="text" name="idRole" id="idRole" th:field="*{role.name}" readonly></td>

                    </tr>
                    <tr>
                        <td colspan="2" class="tdbtn">
                            <button type="submit">Sửa thông tin</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>
