<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/bd7b2915a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/topFrame.css}">
    <link rel="stylesheet" th:href="@{/css/leftFrame.css}">
    <link rel="stylesheet" th:href="@{/css/department.css}"/>
    <title>Danh sách phòng ban</title>
</head>
<body>

<div class="container">
    <div th:include="~{/fragments/leftFrame :: leftFrame}"></div>
    <div class="main-info">
        <div th:include="~{/fragments/topFrame :: topFrame}"></div>
        <div class="info">

            <div class="form-department">
                <div class="search">
                    <div class="add-button">
                        <a th:href="@{/departments/add}">
                            <i class="fa-solid fa-plus"></i>
                            <p>Thêm mới</p>
                        </a>
                    </div>
                </div>
                <div class="list-department">
                    <table border="1">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã phòng ban</th>
                            <th>Tên phòng ban</th>
                            <th>Hệ số lương</th>
                            <th>Hành động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:if="${errorMessage != null}" class="error-message">
                            <p th:text="${errorMessage}"></p>
                        </div>
                        <tr th:each="department, loopStat : ${departmentList}">
                            <td th:text="${loopStat.index + 1}"></td>
                            <td th:text="${department.id}"></td>
                            <td th:text="${department.name}"></td>
                            <td th:text="${department.salaryCoefficient}"></td>
                            <td>
                                <a th:href="@{/departments/edit(id=${department.id})}">
                                    <button class="btn btn-edit"><i class="fa-solid fa-pen-to-square"></i></button>
                                </a>
                                <a th:href="@{/departments/delete(id=${department.id})}"
                                   onclick="return confirm('Bạn có chắc chắn muốn xóa phòng ban này không?');">
                                    <button class="btn btn-remove"><i class="fa-solid fa-trash-can"></i></button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-staff">
                <div class="search">
                    <div class="select-input">
                        <h4>Chọn phòng ban</h4>
                        <form th:action="@{/departments/list}" method="get">
<!--                            <input type="hidden" name="action" value="department">-->
                            <select name="idDepartment" id="idDepartment" onchange="this.form.submit()">
                                <option th:each="department : ${departmentList}"
                                        th:value="${department.id}"
                                        th:text="${department.name}"
                                        th:selected="${selectDepartmentId == department.id}">
                                </option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="list-staff">
                    <table border="1">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã nhân sự</th>
                            <th>Tên nhân sự</th>
                            <th>Hình ảnh</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody><div th:if="${message != null}" class="error-message">
                            <p th:text="${message}"></p>
                        </div>

                        <tr th:each="staff, loopStat : ${staffs}">
                            <td th:text="${loopStat.index + 1}"></td>
                            <td th:text="${staff.id}"></td>
                            <td th:text="${staff.name}"></td>
                            <td><img th:src="${staff.image}" alt=""></td>
                            <td th:text="${staff.phone}"></td>
                            <td th:text="${staff.email}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
